<div class="yoursurveys">
  <p id="lessertitle">Your Surveys:</p>
  <% @user.surveys.all.each do |survey| %>
  <% percent_yes = "N/A" %>
  <% percent_yes = (((survey.yes_num).to_f/(survey.yes_num+survey.no_num).to_f)*100).round(2) if (survey.yes_num + survey.no_num) > 0 %>
  <ul>
  	<li>
  		<a href="/surveys/<%=survey.id%>"><%=survey.title%></a>
      <div class='statslist'>
    		<p>Positive Stats: <text id='stat'><%= percent_yes %><%= percent_yes.is_a?(Float) ? "%" : "" %> </text> </p>
    		<p>Times taken:<text id="stat"> <%= survey.num_taken %></text ></p>
    		<p>Created at: <text id="stat"><%= survey.created_at %></text></p>
      </div>
      <div class="modify_survey">
    		<a href="/surveys/<%=survey.id%>/edit" class="btn">Edit</a>
    		<a  href="/surveys/<%=survey.id%>" class="btn delete_survey" name="<%=survey.id%>">Delete</a>
      </div>
  	</li>
  </ul>
  <% end %>
</div>
