<div class="edit_survey">
  <p class="edit_title">Edit Survey</p>
  <form action="/surveys/<%=@survey.id%>" method="post">
  	<input type="hidden" name="_method" value="put">
  	<p>Title</p><input id='inside' type="text" value="<%=@survey.title%>" name="survey[title]">
    <div class="50px_bottom_margin">
  	 <% @survey.questions.each_with_index do |question, index| %>
    	<ul id='ul_edit_fix'>
    		<li><p>Question <%= index + 1 %>:</p>
        </li>
        <li id='inside'><input type="text" value="<%=question.content%>" name="q<%=index%>[content]"></li>
    	</ul>
  	 <% end %>
    </div>
  	<input class="edit_button" type="submit" value="Update Survey">
  </form>
</div>