

<!--
  <%if current_user %>
    <p><a href="/surveys">See all Surveys</a></p>
    <p><a href="/users/<%=current_user.id%>">Go to Profile</a></p>
    <p><a href="/logout">LOGOUT</a></p>
  <%else%>
    <a id="login_btn" href="/login">Login</a>
    <%= erb :login %>
    <a id="signup_btn" href="/signup">Signup</a>
    <%= erb :signup%>
  <%end%> -->



  <div class='container login'>
    <div class="inner login">
      <%if !current_user%>
        <a id="login_btn" href="/login">Login</a>
        <%= erb :login %>
        <a id="signup_btn" href="/signup">Signup</a>
        <%= erb :signup%>
      <%end%>
    </div>
  </div>

